.container {
    width: 100%;
    height: 80px;

}

.header {
    background-color: aqua;
}

.section {
    background-color: beige;
}

.aside {
    background-color: blueviolet;
}

.footer {
    background-color: brown;
}